[2021-04-23 14:01] pjbesl44 commented on #305
Looks like we are still on Sumo
2.5 | Sumo | 04/2018
I've setup the fsl-imx-xwayland cross compile environment successfully.
I just need ifm3d_camera and ifm3d_framegrabber but having trouble with
glog, gflags, xmlrpc cross-compiles.

[2021-04-26 05:58] graugans commented on #305
I am not sure if I got your question 100% right do you want to build the ifm3d with a YOCTO based SDK or included in your image which will need a meta layer which contains ifm3d?

Most of the libraries are already in the meta-openembedded, you can easily add them to your SDK:
- [glog] (https://github.com/openembedded/meta-openembedded/tree/sumo/meta-oe/recipes-support/glog)
- [xmlrpc-c](https://gi

[2021-04-26 13:35] pjbesl44 commented on #305
Hi Christian,
No success yet.
Problem is I know next to nothing about Yocto bb’s and bbconf’s etc.
I believe I have a plan now to get to my goal.
We are on Sumo and I found out I need Ubuntu 16.04 to build the OS that I want to do building and testing with.
Thinking my chances of success may be better building a full OS and doing work on it rather than cross-compiling XMRPC.

I seem to have succes

[2021-04-30 09:57] alexsve83 opened #306 "Slow connection"
I've got 6 IFM cam directly connected  (6 Network interface ) to the PC, I've seen in the code that there's 3sec timeout in the connection, and I expect 18sec to connect all the cameras, but it takes at least 1minute.
Is this normal? Is there something to speed up the connection?

[2021-04-30 10:06] graugans commented on #306
Hey @alexsve83 , can you please provide more details. What do you mean by connection? Maybe some sample code can help to better understand your problem.

Typically the boot time of a camera is ~30 seconds, a connection typically takes less than a second. When you configure the device this may take longer, but still below one minute. If you do not configure the camera and only grab images from the

[2021-05-11 17:45] ahmadLyneSystems opened #307 "Problem displaying images on visual studio (Too dark or only shows Invalid pixels)"
Hello,

I've been trying to setup ifm3d with our O3D311 camera on a windows environment with visual studio 2019. I built ifm3d using the PCL library and followed your windows installation guide on multiple versions of ifm3d but I'm still facing the same issue. I'm mainly concerned with obtaining the distance image but when I run the code below, all I get is either a black image or a white one with

[2021-05-11 18:10] lola-masson commented on #307
As for the invalid pixels: these, at first glance, look over exposed. Did you try reducing the long exposure time or using multiple exposures?

[2021-05-11 18:19] ahmadLyneSystems commented on #307
Hey lola,

Thanks for the reply. You're right about the amplitude image being normalized which I could fix using a simple image filter. I simply thought the dark contrast was a symptom of anothe problem. However, as I mentioned I'm mainly looking to reproduce the distance image output from the VisionAssistant software.

As for the distance image, I should have mentioned that I only get the white i

[2021-05-11 22:17] ahmadLyneSystems commented on #300
I'm getting a similar error code building the python module on windows 10. Following the steps in the documentation, I arrive at this error:
`ERROR: Command errored out with exit status 1: 'C:\Program Files\Python39\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\ahmad\\AppData\\Local\\Temp\\pip-req-build-v1f2zlsz\\setup.py'"'"'; __file__='"'"'C:\\Users\\

[2021-05-12 07:46] graugans commented on #300
Hey @ahmadLyneSystems, thanks for the feedback. Currently the Python support on Windows is in beta state. We have seen issues on different versions of the Visual Studio version. Could you please be so kind and provide the exact version of Visual Studio you have used.

Have you checked [running-the-ifm3d-command-line-tool](https://github.com/ifm/ifm3d/blob/master/doc/windows.md#running-the-ifm3d-co

[2021-05-12 08:22] ahmadLyneSystems commented on #300
Hey @graugans,

Thanks for the reply. I'm using Visual Studio 16.9.4. And yeah I did add the ifm3d to Path and it works well both on cmd and on Visual Studio using the C++ modules.

So some of the things I've tried include building from both 0.20 and 0.18, building with and without PCL, and using different versions of pybind11 (2.3.0 and the latest version).

I should also mention that there appea

[2021-05-12 09:02] graugans commented on #307
Hey @ahmadLyneSystems there is some sample code for scaling the [image](https://github.com/ifm/ifm3d-examples/blob/master/simpleimage/example/ex-simpleImage_ppm_io.cpp#L68) The amplitude data typically does have more dynamics than a 255Bit grayscale image.

[2021-05-12 16:44] ahmadLyneSystems commented on #307
Hey @graugans, thanks for linking to the example code. I was actually trying to build a similar RGB scaling function on my own yesterday so this will be a great reference. Initially, I thought I had a problem with my ifm3d build which is why I asked the question. But since it's the expected output, I generally know how to proceed now.

Most of the confusion is due to it being my first time working

[2021-05-12 16:44] #307 closed

[2021-05-27 02:37] mrcjw opened #311 "ifmO3X"
In vs2015, I have connected to O3D and can run it. Now I want to connect to o3x and use the following linked sample program:

https://github.com/ifm/ifm3d-examples/blob/master/getmac/ex-getmac.cpp , can be compiled and run, but can't get the data. If I set IP in makeshared(), the runtime program will report an error

[2021-05-27 04:37] inbangsa commented on #311
@mrcjw can you please share the error that you are getting ? can you ping the device ?

Also to reproduce the issue, provide following details

* dump of the device , use following command on cmd
[code]
* share the code snippet which can reproduce the issue

[2021-05-27 05:31] mrcjw commented on #311
I can ping the camera. My code is:

std::string CAMERA_ IP = "192.168.0.69";

int main()

{

ifm3d::Camera::Ptr cam = ifm3d::Camera::MakeShared(CAMERA_ IP);

auto jsonConfig = cam->ToJSON();

// print out the MAC address

std::cout << "The MAC address of the camera: "

<< jsonConfig["ifm3d"]["Net"]["MACAddress"]

<< std::endl;

}

Sorry, I don't know how to do it

ifm3d --ip=<ip address of device>

[2021-05-27 06:13] inbangsa commented on #311
@mrcjw Your code works fine for me. Can you check the build type. ifm3d instruction always build the release version.  Please use Release mode if you are building from IDE. What exception you see in output windows pf VS

There is also a small typo in code provided. A space between "CAMERA_ IP" I changed it to  "CAMERA_IP" and everything works fine,

[2021-05-27 06:31] mrcjw commented on #311
My program is release. If I set IP in makeshared, my program will jump to

static _ Elem *__ CLRCALL_ OR_ CDECL copy(_ Elem *_ First1, const _ Elem *_ First2,

size_ t _ Count)

{ // copy [_ First2, _ First2 + _ Count) to [_ First1, ...)

return (_ Count == 0 ? _ First1

: (_ Elem *)_ CSTD memcpy(_ First1, _ First2, _ Count));

}。

This is wrong

[2021-05-27 06:35] mrcjw commented on #311
My vs will report these problems at runtime. Does this mean that there is something wrong with my computer environment.

"Console application 2. Exe" (Win32): loaded "C::'windows','system32 ','ntdll. DLL'". Unable to find or open pdb file.

"Console application 2. Exe" (Win32): loaded "C:: (Windows) = (system32) = (Kernel32. DLL)". Unable to find or open pdb file.

"Console application 2. Exe" (Wi

[2021-05-27 07:22] inbangsa commented on #311
@mrcjw

From your output log it seems that a debug dll are getting loaded . which hints a either your application or a dependent library is built in debug mode.

[code]

please try following commands on cmd

[code]
this [doc](https://github.com/ifm/ifm3d/blob/master/doc/windows.md#running-the-ifm3d-command-line-tool) provide instruction to build and install ifm3d from sources and also running ifm3

[2021-05-27 08:01] mrcjw commented on #311
c:\ifm3d\ifm3d\build> ifm3d version
ifm3d: version=0.18.0

c:\ifm3d\ifm3d\build> ifm3d ls

c:\ifm3d\ifm3d\build> ifm3d dump

c:\ifm3d\ifm3d\build>

Ifm3d ls and ifm3d dump are not displayed

c:\ifm3d\ifm3d\build> ifm3d version
ifm3d: version=0.18.0

c:\ifm3d\ifm3d\build> ifm3d ls

c:\ifm3d\ifm3d\build> ifm3d dump

c:\ifm3d\ifm3d\build>

Ifm3d ls and ifm3d dump are not displayed

[2021-05-27 08:51] inbangsa commented on #311
whats the error message on the console for ```ifm3d ls```  and ``` ifm3d dump```

[2021-05-27 09:13] mrcjw commented on #311
C:\ifm3d-master\ifm3d\build>ifm3d ls
[
  {
    "Active": true,
    "Description": "",
    "Id": 984411720,
    "Index": 1,
    "Name": "1"
  }
]

C:\ifm3d-master\ifm3d\build>ifm3d dump
{
  "ifm3d": {
    "Apps": [
      {
        "Description": "",
        "Id": "984411720",
        "Imager": {
          "ExposureTime": "1350",
          "ExposureTimeRatio": "50",
          "FrameRate": "25",

[2021-05-27 09:16] mrcjw commented on #311
@inbangsa I installed the environment again, and the program failed to compile. The error is: fatal error C1189:

#error: ERROR macro is defined. Define GLOG_ NO_ ABBREVIATED_ SEVERITIES before including logging.h.

[2021-05-27 09:27] inbangsa commented on #311
@mrcjw Happy to see tools working on your systems.

are you using <windows.h> in your code ?

Please follow following issue on GLOG
https://github.com/google/glog/issues/267

[2021-05-27 12:38] mrcjw commented on #311
@inbangsa thank you. No error will be reported when compiling the program, but the previous error will still be reported when running,

Exception thrown at 0x00007ffc8fb91460 (vcruntime140d. DLL) in console application 2.exe: 0xc0000005: access conflict occurred while reading location 0x0000000039362e30.
The program stops here.

static _ Elem *__ CLRCALL_ OR_ CDECL copy(_ Elem *_ First1, const _ E

[2021-05-28 00:40] mrcjw commented on #311
@inbangsa Thank you for your patience. Finally, I found that my system environment was not right. At first, I put some dependent programs into my program running directory. Causes the program to run incorrectly.

[2021-05-28 06:52] inbangsa commented on #311
@mrcjw I am glad to hear this. Loading of vcruntime140d.dll hints the system env  is not correct. As issue is resolved hence closing this . feel free to create new issues.

Happy to help !!

[2021-05-28 06:52] #311 closed

[2021-05-28 07:54] inbangsa commented on #303
@FritSEA  Hope you are doing well.

As i mentioned in my comment frame rate calculation was made with the config file attached. Yes above framerate calculation is without any filters as per the config file.  I can recalculate the frame rate, please provide the config file with the filter settings needed.

[2021-06-02 03:54] #304 closed

[2021-06-03 11:30] inbangsa commented on #300
@MattVoge  @ahmadLyneSystems for this issue, I am able to reproduce the issue  for the ifm3d version 0.20.0 [unreleased] which is the current master. Issue is with linking the header only asio module with Framegrabber module.  This will be fixed in next release.

[2021-06-09 10:27] jChaudet opened #312 "pcic blocked when sensor disconnected"
ifm3d 0.18.0
ubuntu / buildroot

Hi,
I try to robustify utilisation of pcic and have trouble with `m_pcic->Call(inhibit, response, 1000);`
My purpose is to change app, one with soft trigger, one continuous.
If I unplug ethernet cable, my program stay indefinitely blocked here. When I plug again the cable, nothing change.
I tried to verify connection before this call, but this is not sufficiently e

[2021-06-09 12:15] jChaudet commented on #312
The other test above doesn't fail all the time.

So I also tried an other test, on this one, there is no trouble.

[code]

[2021-06-09 12:35] jChaudet commented on #312
And I reproduce it with loop

[code]

### What I did

- first loop:  after `ActiveApplication();`, I unplug
- second loop: nothing
- third loop:  after `ActiveApplication();`, I plug again
- > I stay in call method

output
[code]

[2021-06-29 10:10] Tom127 opened #313 "Problems using software trigger mode"
Hi, I am using O3D303 camera, when using continuous mode, the camera heats up very badly, and the image delay is relatively large after applying my algorithm. So I want to use the software trigger mode, how can it be implemented in software and hardware?
In addition, I tried this demo [https://github.com/ifm/ifm3d/blob/master/doc/basic_usage.md](url) and received some data. I am curious what does

[2021-06-29 10:50] graugans commented on #313
Hey @Tom127 , can you please provide more details about ``So I want to use the software trigger mode, how can it be implemented in software and hardware?`` The camera currently supports the following Trigger modes:

- Hardware, through the PINs at the the connector cable
- Software, through the ifm3d library
- Free-Running, with a configured frame-rate

To minimize the heating you may can lower th

[2021-06-30 09:33] Tom127 commented on #313
Thanks for your reply! Maybe my description confuses you. In the continuous grabber mode, when the process speed of my algorithm cannot keep up with the grabber speed, a large delay will accumulate. Equivalently, my algorithm was still processing the image grabbered a few seconds ago. So, I want to control when the camera starts grabber images in my code, instead of continuous grabber images.  cou

[2021-06-30 12:07] graugans commented on #313
Hey @Tom127, no worries. From my point of view the easiest approach for you would be the usage of the Software Trigger. I have no out of the box example, but in [the test-cases](https://github.com/ifm/ifm3d/blob/master/modules/framegrabber/test/ifm3d-fg-tests.cpp#L278) you'll find something pretty close.

With the SW Trigger you can have a tight loop with your algorithm as the slowest part which d

[2021-07-01 07:29] Tom127 commented on #313
@graugans Thanks for your reply! I wrote a test code for reference [here](https://github.com/ifm/ifm3d/blob/399ea893141a9bcac1d962c6dec5ff709659e856/modules/framegrabber/test/ifm3d-fg-tests.cpp#L278). However, the image still has a large delay, and the grabber speed is only 1 frame per second. Here's my code:
[test_code.txt](https://github.com/ifm/ifm3d/files/6746234/test_code.txt)

regards,
Tom

[2021-07-06 17:29] ahmadLyneSystems opened #315 "Clarification about Extrinsic Calibration: Do I need to calibrate the Camera before using it?"
Hello again,

I'd just like to confirm whether performing calibration is required to obtain accurate Z-distance data from the camera. I don't think the wording in the operations manual (under CHUNK types) is clear enough in this regard. It mentions under image data chunk types that:

"The Z matrix denotes the Z component of the Cartesian coordinate of a PMD 3D measurement. The origin of the camera

[2021-07-07 06:52] graugans commented on #315
Hey @ahmadLyneSystems , thanks for the feedback on the documentation. The Extrinsic calibration can for example be used to transform the camera coordinate system into a robot coordinate system. Please be aware that the ifm3d library does perform [another transformation](https://github.com/ifm/ifm3d/blob/master/modules/image/src/libifm3d_image/image_buffer_impl.hpp#L234) .

The questions on accurac

[2021-07-07 08:19] GreNait commented on #313
@Tom127 - Could you share your configuration of the camera too? Different modes lead to fairly high evaluation times. Perhaps you also limited (by accident?) the framerate etc.

[2021-07-13 04:44] ahmadLyneSystems commented on #315
Hey @graugans, sorry about the late reply!

Thanks for your response. If I understand correctly, it means that there is no required calibration for taking measurements from a stationary position. Also, if I'm understanding the transformation you linked to, it's taking the existing ExtrinsicCalibTrans parameters and offsetting to perhaps center the point cloud in the camera coordinate frame?

As fo

[2021-07-13 20:22] lola-masson commented on #315
Hi @ahmadLyneSystems,
You are right, there is no calibration required for taking measurement "out of the box", each camera being intrinsically  calibrated in production (internal calibration setting the position of internal components in relation to the center of the front window).

Reflective surfaces could indeed be the cause of a wrong distance measurement. Do you observe the same 2cm shift for

[2021-07-15 07:06] VitoTringolo opened #318 "IFM O3X1XX autoexposure"
I am using the IFM O3X1XX with firmware version 1.0.126 I would like to know if there is a way to get back the exposure value when the camera is set in autoexposure mode. I noticed that if I try to read the exposure value when the camera is in autoexposure mode I get back the last value that I set before enable the autoexposure. Also with the IFMVisionAssistant the exposure value is not updated wh

[2021-07-15 16:37] ahmadLyneSystems commented on #315
Hi @lola-masson
Thanks for the reply. I spent the last couple of days conducting more tests and I believe the problem lies with the amount of noise being generated when taking distance measurements.

I've replaced our setup with as many non-reflective materials as possible, using mostly cardboard and a conveyor belt and while the measurements are accurate some points across a cardboard box, it's t

[2021-07-29 06:04] GoodTekken opened #319 "Timeout waiting for camera when get the bag"
Hello,
I want to record the .bag from camera and not limit by time in Virtual Machine.
How can I do with this requirement.

When I use the instruction of " roslaunch ifm3d camera.launch " ,screen shows "Timeout waiting for camera".
[code]

And ping "192.168.0.69",it is okay.
ifm@ubuntu:~$ ping 192.168.0.69
PING 192.168.0.69 (192.168.0.69) 56(84) bytes of data.
64 bytes from 192.168.0.69: icmp_seq=

[2021-07-29 14:54] lola-masson commented on #315
Hi @ahmadLyneSystems, sorry for the delay in my answer.
Have you tried adjusting the exposure times?  Your measurement should not be impacted this much by noise. From the configuration that you sent, the max exposure time (for the auto exposure of application 1) seems quite low. Try increasing it and see if it helps.

[2021-07-29 14:59] lola-masson commented on #319
Hi @GoodTekken,
Just to make sure I get this right:
You are trying to connect to an O3D camera from INSIDE an ubuntu VM on a Windows host?
The ping works from inside the VM or from the host? And the ifm3d dump?
It seems that you want to use ROS 1 to record bags?

[2021-07-30 02:07] GoodTekken commented on #319
Yes，I am trying to connect to an O3D camera from INSIDE an Ubuntu VM on a Windows host.
The ping works from inside the VM and the  ifm3d dump is also inside the VM.
I have a VM from IFM too. but just can record 10 seconds.
So if I want 2 minute's record bags，How can I do for it?

[2021-07-30 05:09] graugans commented on #319
Hey @GoodTekken , it looks like your camera has configured two applications and one is configured to [software trigger](https://github.com/ifm/ifm3d/blob/master/modules/camera/include/ifm3d/camera/camera.h#L100):

The first one
[code]
The second one
[code]
Please note we are counting from 1 upwards on the camera
[code]
To verify this assumption your could try this
[code]

[2021-07-30 11:16] GoodTekken commented on #319
Yes,Thank you,.
it shows "Timeout waiting for camera!".
So how to do the next to get  the record bag ?

Looking forware to your reply.

ifm@ubuntu:~$ ifm3d hz --nframes=100 -sw
Timeout waiting for camera!
ifm@ubuntu:~$ ifm3d hz --nframes=100 -sw
Timeout waiting for camera!

[2021-07-30 11:23] graugans commented on #319
Hey @GoodTekken ,

please try:
[code]
I had a typo in the first response

[2021-08-02 01:08] GoodTekken commented on #319
Thank you @graugans,
It helps a lot and succeeds for recording.

The result below:
tekken@tekken-virtual-machine:~$ ifm3d hz --nframes=100 --sw
FrameGrabber running at: 2.76904 Hz
100 frames captured, over 1 runs

[2021-08-02 01:08] #319 closed

[2021-08-03 19:59] lola-masson commented on #318
Hi @VitoTringolo. Sorry for the delay in the answer.
You can read the exposure values by telling the FrameGrabber to stream this info back. Check out this example: https://github.com/ifm/ifm3d-examples/blob/master/exposure_time/ex-exposure_times.cpp
I am not aware of limitations with the auto exposure that would prevent the acquisition of frames. Could you give more information about your setup? D

[2021-08-04 08:28] VitoTringolo commented on #318
No worries!

Perfect I missed that!

About the auto exposure issue, you should be able to replicate it if you setup your application as I described before.
I have no errors using the IFMVisionAssistant just the camera is unable to acquire new frames. Using the C++ code, instead, I get a timeout calling the FrameGrabber WaitForFrame function.

[2021-08-06 06:34] DUANlaoda commented on #228
Could you send me the Python or C++ source of Pallet Detection System (PDS) , duanfxld@gmail.com , thanks

[2021-08-06 06:41] graugans commented on #228
@DUANlaoda please get in touch with @GarrettPlace

[2021-08-09 12:17] GarrettPlace commented on #228
@DUANlaoda - you can reach me at garrett.place@ifm.com

[2021-08-21 14:04] scoperesolutor opened #320 "cmake could not find xmlrpc-c config.cmake file"
Hello, I am trying to build the files for the ifm3d but I seem to be getting stuck on one of the modules which gives the error below.

"CMake Error at modules/camera/src/libifm3d_camera/CMakeLists.txt:26 (find_package):
Could not find a package configuration file provided by "xmlrpc-c" with any
of the following names:

xmlrpc-cConfig.cmake
xmlrpc-c-config.cmake

Add the installation prefix of "xml

[2021-08-22 02:24] inbangsa commented on #320
can you please specify OS ?

[2021-08-22 02:53] scoperesolutor commented on #320
oops.  windows 10 x64. I did follow the instructions to build the dependencies individually. Version	10.0.18363 Build 18363

[2021-08-23 06:46] inbangsa commented on #320
@scoperesolutor

I assume that you have installed ifm3d and dependencies at ```C:/ifm3d/install```  as per the [build instruction](https://github.com/ifm/ifm3d/blob/master/doc/windows.md)

can you check ```C:/ifm3d/install/lib/cmake/xmlrpc-c``` this should have xmlrpc-c-config.cmake . if you donot have this file then please follow the [build instruction for xmlrpc-c](https://github.com/ifm/ifm3d/b

[2021-08-23 06:57] scoperesolutor commented on #320
@inbangsa

There is a config with a header that is close to the target name; "xmlrpc-config.h.cmake" but otherwise no i cannot find that in xmlrpc-c folder.
![EcL3HAIYuv](https://user-images.githubusercontent.com/74273808/130403559-50f3cb12-1de0-4270-89ef-2ffab1e0d377.png)

[2021-08-23 07:14] inbangsa commented on #320
@scoperesolutor

Please build the library, this are source file from the clone, Please follow all [instruction for source build](https://github.com/ifm/ifm3d/blob/master/doc/windows.md#source-dependencies)

[2021-08-23 14:02] lola-masson commented on #318
@VitoTringolo indeed I am having the same issue with the autoexposure, I am not too sure what is up, I will ask around for more details. Which FW version are you using?
Is there any specific reason you are using autoexposure instead of manually setting the exposure times?

[2021-08-23 23:26] scoperesolutor commented on #320
Thanks. I found the file as you outlined above. I directed cmake to that folder and that particular error is gone now.
I now have the failed to run command:

    MSBuild.exe

  to get the value of VCTargetsPath:      Probably because updated to the latest cmake. i will downgrade and see what happens.

[2021-08-23 23:26] #320 closed

[2021-08-28 20:28] iliiliiliili commented on #139
@danielm1405 I have made a [python library](https://github.com/iliiliiliili/ifm-o3m-lidar-python) for channel 8 of O3M Lidar if you need it.

[2021-09-07 10:55] VitoTringolo commented on #318
@lola-masson the camera firmware version is 1.0.126.
Do you have any news?

[2021-09-10 15:28] haoyuefan opened #321 "Is the camera's light center the origin of the camera's coordinate system, for example, should the X and Y values directly in front of the camera's light center be zero? I placed a plane region directly in front of the camera plane, but the X and Y values of the position of the point directly opposite the camera light center are not 0. Why is this?"

[2021-09-13 02:16] haoyuefan commented on #321
@graugans

[2021-09-14 09:39] graugans commented on #321
Hey @haoyuefan , I was out of office the last three weeks.

What kind of plane did you put in front of the camera? What we typically define as the center of the coordinate system is the front glass of the camera and the center of the front face. But @GreNait or @lola-masson may have some graphics to explain this in more detail.

[2021-09-18 02:36] haoyuefan opened #323 "How to reboot O3D303 camera by SDK?"
@graugans

[2021-09-20 07:28] graugans commented on #323
Hey @haoyuefan please take a look at the [ifm3d reboot](https://github.com/ifm/ifm3d/blob/master/modules/tools/src/libifm3d_tools/reboot_app.cpp#L40) command. It is quite simple:

[code]

[2021-09-23 10:36] VitoTringolo commented on #318
@lola-masson or @graugans any news?

[2021-09-23 12:17] graugans commented on #318
@VitoTringolo , sorry for the delay. There is no way to get the current exposure time when the camera was configured to auto exposure. I highly recommend updating to the lastest Firmware. We had some issues with the auto exposure in FW 1.0.126.

[2021-09-24 08:33] VitoTringolo commented on #318
Thank you @graugans
I will update the camera to the latest firmware. Do you know if is it possible to execute also the downgrade eventually?

[2021-09-24 12:41] graugans commented on #318
@VitoTringolo a downgrade is always possible

[2021-09-26 10:42] haoyuefan commented on #323
thank you.

[2021-09-26 10:42] #323 closed

[2021-09-26 10:46] haoyuefan opened #324 "How to get O3D303 camera temperature by ifm3d lib?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior. For example:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Output/Screenshots**
If applicable, add console output and/or screenshots to help explain your proble

[2021-09-27 11:24] inbangsa commented on #324
@haoyuefan following are the ways to obtain the device temperature (illumination temperature) with ifm3d lib and tool

* From command line you can use ```ifm3d dump``` command
[code]
* You can do the same in code with following code snippet
[code]
* You can also grab the temperature value along with other data/images by adding ```ifm3d::ILLU_TEMP``` to the framegrabber schema-mask parameter. This

[2021-09-28 15:56] tomatac commented on #288
It would be great to have binaries for windows. At least for major versions.
It takes some time to setup the environment to compile from source and it can be difficult for somebody with no C++ programming experience.

[2021-09-29 08:45] #324 closed

[2021-09-30 05:53] graugans commented on #288
Hey @tomatac, there are Windows builds available here: https://github.com/ifm/ifm3d/actions/workflows/windows.yml

In case of any questions or comments please reach out to @inbangsa

[2021-10-05 16:22] mankiet opened #325 "Failed to build and install xmlrpc-c"
Hi All,

I'm trying to install ifm3d in my windows OS and I have encountered the following error during the build and install of xmlrpc-c.

Error:

 in function setupGlobalConstants [C:\ifm3d\xmlrpc-c\build\tools\xml-rpc-api2cpp\xml-rpc-api2cpp.vcxproj]
xmlrpc_client.lib(xmlrpc_curl_transport.obj) : error LNK2019: unresolved external symbol __imp_WSACleanup referenced
 in function setupGlobalConst

[2021-10-06 04:09] mankiet commented on #325
Hi @inbangsa ,

I'm using Visual Studio 2019 to build the xmlrpc-c.

Following is my variables:
IFM3D_BOOST_ROOT="C:\Program Files\PCL 1.8.1\3rdParty\Boost"
IFM3D_OPENCV_PATH=C:\opencv\build
IFM3D_CMAKE_GENERATOR="Visual Studio 16 2019"
IFM3D_BUILD_DIR=C:\ifm3d
CONFIG=Release

I'm encounter the error after this command `cmake -G %IFM3D_CMAKE_GENERATOR% -Ax64 -DCMAKE_INSTALL_PREFIX=%IFM3D_BUILD_DIR

[2021-10-06 10:49] inbangsa commented on #325
@mankiet Thanks for the issue, I am able to reproduce this, recently we updates the xmlrpc-c with suppport for static builds and we are in process to update the ifm3d documentation for xmlrpc-c build.

to resolve your issue please add ```-DBUILD_SHARED_LIBS=ON``` in your cmake configure command.

complete command is as follow:
```cmake -G %IFM3D_CMAKE_GENERATOR% -Ax64 -DCMAKE_INSTALL_PREFIX=%IFM3D

[2021-10-07 09:19] josephchen5 commented on #171
Hello, I have an ifm TOF camera, the model is O3D303, I also cannot use PDS, how can I get support
https://www.ifm.com/us/en/us/robotics/software-solutions/pds/integrating-pds/integrating-pds
Thanks!

[2021-10-07 09:46] graugans commented on #171
Hey @josephchen5 , you need a special device for PDS support. Please get in touch with @GarrettPlace

[2021-10-08 02:57] PHILCHEN666 opened #327 "The internal parameter about the O3D303 camera"
hello ifm engineer,i'm a student in china,recently,i was studying a new calibration method for TOF camera,i use this new algorithm to get the internal parameter of O3D303 camera,but i want to compare the parameter getted by my method with your company real parameter,unfortunately, the ifm company in china tell me,the Headquarters company in German cannot provide the internal parameter about the O3

[2021-10-08 14:21] salokin1997 opened #328 "Multiple resolutions during runtime"
Hello,

I would like to publish image-topics with multiple resolutions from camera at the same time. The aim is to create a multi-scale image pyramid from images with different resolutions. Is this possible?

Many thanks!

[2021-10-12 01:47] mankiet commented on #325
Hi @inbangsa,

Yes. Your solution is working for me. However, when I proceed to install and build ifm3d I have encountered the followings error.

CMake Error at CMakeLists.txt:75 (add_subdirectory):
  The source directory
C:/ifm3d
does not contain a CMakeLists.txt file.
CMake Error at C:/ifm3d/xmlrpc-c/cmake/xmlrpc-c-config.cmake:1 (include):
  include could not find requested file:
C:/ifm3d/xmlrp

[2021-10-12 04:44] mankiet commented on #325
Hi @inbangsa,

Yes. I have successfully installed xmlrpc and my IFM3D_BUILD_DIR is "C:\ifm3d".
However, I don't see there is an install folder in my IF3D_BUILD_DIR and I found xmlrpc-c-config.cmake in C:\ifm3d\lib\cmake\xmlrpc-c.

I also have tried change the -DCMAKE_PREFIX_PATH to C:\ifm3d and C:\ifm3d\lib. Unfortunately, the error is still there.

[2021-10-12 05:17] inbangsa commented on #325
@mankiet the issue is you installed and source is at c:\ifm3d and now cmake is defauling to source xmlrpc-config.cmake then lib\cmake\xmlrpc-c.

you need to fix this by re-installing xmlrpc to install folder.

and then passing %IFM3D_BUILD_DIR%\install to -DCMAKE_PREFIX_PATH.

[2021-10-15 10:21] #328 closed, assigned to nobody

[2021-10-19 17:40] ahmadLyneSystems commented on #315
Hey @lola-masson
Apologies for forgetting to close the issue as this is not my main account. Your suggestion did work and we are now capturing stable measurements with little fluctuations.

Thanks again!

[2021-10-23 10:54] cadaeb opened #329 "conflicted with other rpc tool such as xmlrpc/rcf on TX2(aarch64) platform"
conflicted with other rpc tool such as xmlrpc/rcf on TX2(aarch64) platform

**To Reproduce**
Choose nvidia TX2 platform

1.  Add a rpc lib such as "RCF" in the same program and create a thread to build a TCPEndpoint such as follows:
static RCF::RcfInit rcfInit;
std::string networkInterface = "192.168.0.66";
int port = 50001;

// Start a TCP server, and expose DemoService.
DemoService demoService;

[2021-10-31 03:36] PHILCHEN666 opened #330 "fg = ifm3dpy.FrameGrabber(cam, ifm3dpy.IMG_AMP | ifm3dpy.INV_INTR_CAL) have error"
now,i have the ifm3dpy,it can run in the linux 20.04 focal,In the VMware,i also can get data from (ping 192.168.0.69),it show we already connect to the camera,i try the code you submit in github "example code" in image_rectification/python/  . but error in "fg = ifm3dpy.FrameGrabber(cam, ifm3dpy.IMG_AMP | ifm3dpy.INV_INTR_CAL) RuntimeError: Unknown error -1000019",if i change it to fg = ifm3dpy.Fr

[2021-11-01 12:11] lola-masson commented on #330
You might need to update your firmware. Which version is currently on your O3D303?

[2021-11-01 14:52] PHILCHEN666 commented on #330
ifm_VisionAssistant show the Firmware ver 1.6.2114

[2021-11-01 15:10] lola-masson commented on #330
You can download the new FW (we are at version 1.71.x) on [ifm.com](https://www.ifm.com/us/en/product/O3D303?tab=documents). You will need to create a (free) account. Please update your O3D and check if you have the same problem as before.

[2021-11-02 05:14] PHILCHEN666 commented on #330
thank you ,it can work now

[2021-11-03 02:23] PHILCHEN666 commented on #330
hello, i want know the xyz_image capture by the ifm3dpy. the value in that image not the float (for example -1.351,2.31 etc),but is (-652,256),what the relationship about the value in real x distance and the image value.same question in amp_image,rdis_image,yz_image.

[2021-11-04 07:30] graugans commented on #330
Hey @PHILCHEN666 did I get you right, the issue is solved? In this case please close this issue as-well.

[2021-11-05 08:32] #330 closed

[2021-11-09 15:17] mehranq opened #331 "Cannot connect to O3R Camera using ifm3d library"
Hello. I am trying to test out the O3R camera using the C++ example provided here: https://ifm.github.io/ifm3d-docs/examples/o3r/configuration/configuration.html. I am using the Windows platform and built the ifm3d library from source using your "Building ifm3d from source on Windows" guide without the PCL dependency and using the o3r/main-next branch.

The camera is connected to my pc and I am ab

[2021-11-09 15:29] graugans commented on #331
Hey @mehranq ,
what Visual Studio version are you using?

[2021-11-09 15:40] inbangsa commented on #331
@mehranq  are you building example in Debug mode ?
can you try building example in Release mode,

by default ifm3d is build in release mode.

[2021-11-09 15:43] mehranq commented on #331
I am using Visual Studio 2019.

[2021-11-09 15:44] mehranq commented on #331
Yes. I am building it debug mode. I'll try building the example in release mode. Thank you for the suggestion.

[2021-11-09 17:05] mehranq commented on #331
I just tried building in release mode. I am still getting an exception on line  `json conf = cam->Get();`. However the exception type changed to `ifm3d::error_t` whereas previously when running in debug mode, the exception type was `std::bad_array_new_length`

Also, I don't get the exception in **xutility** anymore when explicitly specifying the ip address and port  for the camera.  Instead the co

[2021-11-09 17:46] inbangsa commented on #331
@mehranq can you please provide dump of the device configuartion.

you need to do this with ifm3d tool which is installed in your PC while installing ifm3d. you will find this tool in ```<install prefix path>/bin```

getting the dump :

this will help us to understand the configuration of your device and firmware that you are using.

[2021-11-09 20:18] mehranq commented on #331
I tried using ifm3d dump as instructed but that command throws an error like this

![ifm3d dump error](https://user-images.githubusercontent.com/25999707/140998040-84366c07-34ab-401d-bc9c-03b80b3ce71d.png)
:

When adding the try catch snippet above to the C++ example code, the error code seems to be the same as the one I get when trying to run ifm3d dump:

![error detail](https://user-images.githu

[2021-11-10 08:25] desengph commented on #331
Hi @mehranq
this sounds "suspiciously" similar to a mismatch of firmware and software versions to me.

Can you please check that you are using a recent O3R VPU firmware version (version >= 0.13.11). The easiest way to check this is the use of our web front-end: `http://192.168.0.69/api/rpc/v1/com.ifm.efector/`. Copy and paste the `getSWVersion` command into the second box from the top, label metho

[2021-11-10 08:44] graugans commented on #331
Hi, @mehranq,

like @desengph mentioned you may have some old O3R firmware running. The easiest way to query the firmware version is pasting this line in the address bar of your browser:

[code]

The result looks like this:
[code]
In your case there maybe an older FW version

[2021-11-10 15:15] mehranq commented on #331
Hi @graugans @desengph
Here is the result of the api call that you suggested to check the firmware version:

![image](https://user-images.githubusercontent.com/25999707/141137045-d7336f75-0462-4958-b57c-8cc3368a6007.png)

It does look like the firmware version is old on my end. How should I go about updating the firmware?

Also, just to confirm, I am using the following power supply supplied by IF

[2021-11-10 16:24] desengph commented on #331
Hi @mehranq
I'm sorry to say but your firmware on the O3R camera is ancient.
We will have to see if we can update your hardware without risking a software hardware incompatibility for early field test hardware.

@mehranq can you please send me a PM. We will have to discuss the details in private.

I'm sorry for the confusion earlier.

Best regard,
Philipp

[2021-11-10 16:52] mehranq commented on #331
@desengph
Sure. How do I get in touch with you privately?

[2021-11-10 16:57] desengph commented on #331
@mehranq
I just relalized that GitHub removed their direct messages service.
Can please send me an email philipp.senger<at>ifm.com

Otherwise let me know your email address so I can shoot you an email.

[2021-11-10 17:02] mehranq commented on #331
@desengph
I just shot you a quick email. Thanks.

[2021-11-10 17:28] desengph commented on #331
Got it.
I will collect the necessary information from my Canadian colleagues and answer you tomorrow.

[2021-11-10 17:43] mehranq commented on #331
Great. Thank you.

[2021-11-17 06:45] zchao9456 opened #332 "ifm3d ox3d100使用过程接口，程序会崩溃"
[code]

ox3d100能不能使用过程接口，通过软件触发的模式来获取数据，当我把ox3d100配置成连续模式时，用上面的代码能正常获取到数据，当改成过程接口时，程序会在这里发生中断ifm3d::PCICClient::Ptr pcic = std::make_shared<ifm3d::PCICClient>(cam);，请问这样的问题怎么解决呢。同样用上面的代码，使用ox3d300相机，一切都正常，这是什么原因呢，是不是两种相机，触发模式不一样？麻烦帮助一下，谢谢

[2021-11-17 07:01] graugans commented on #332
Hey @zchao9456 ,

my Chinese is kind of none existing, I ran your question through Google translate:

Are you using an O3X100 and an O3D300? The O3X100 does not provide support for the `PCICClient` on O3X1xx we only do have a limitid PCIC implementation. There is only sending of data implemented, it also only does support a single client. When connecting the PCICClient the single channel will be o

[2021-11-17 08:13] zchao9456 commented on #332
yes, O3X100 and O3d300,Can the o3x100 use the process interface? I don't want to take pictures continuously. I want to take pictures when I need it. Can the o3x100 support this? Thank you @graugans

[2021-11-17 08:22] graugans commented on #332
Hey @zchao9456 , yes the O3X1xx provides a software trigger. With this software trigger you can control when images are acquired.

[2021-11-17 08:26] graugans commented on #332
Here is a link to the [implementation](https://github.com/ifm/ifm3d/blob/master/modules/framegrabber/src/libifm3d_framegrabber/frame_grabber_impl.hpp#L211)

[2021-11-17 08:29] graugans commented on #332
And an [example](https://github.com/ifm/ifm3d-examples/blob/master/multi_camera_grabber/ex-multi_camera_grabber.cpp#L99) how to use it

[2021-11-17 10:52] zchao9456 commented on #332
Thank you @graugans

[2021-11-17 15:32] mehranq opened #333 "Extracting X, Y, Z point cloud values from im->XYZImage()"
I am writing the following function  to extract the X,Y,Z point cloud values from the image returned by im->XYZImage() so I can call this function in my own program and parse the point cloud values accordingly.

I would like to get your feedback on whether this is the correct approach because I am a bit unsure on the data structure returned by XYZImage() function.  Please feel free to make any sug

[2021-11-18 07:20] inbangsa commented on #333
@mehranq  ```ifm3d::Image``` stores data in contiguously, and it provides ```nchannels()``` and ```dataformat()``` to know which type of data is stored in the ```ifm3d::Image```. you can find more information of dataformat [here](https://github.com/ifm/ifm3d/blob/o3r/main-next/modules/framegrabber/include/ifm3d/fg/byte_buffer.h#L35).

for xyz Image the nchannels is 3 and data type is 6 (ifm3d::dat

[2021-11-18 07:22] inbangsa commented on #331
@mehranq if your issue is resolved can you please close this.

[2021-11-18 08:20] graugans commented on #329
@cadaeb and @inbangsa  It looks like there is also a similar issue within [Fast-DDS](https://github.com/eProsima/Fast-DDS/issues/1484)

[2021-11-18 14:50] mehranq commented on #333
@inbangsa Thank you for the answer. It seems what I was doing in my code was mostly correct.  I will keep the optimizations you mentioned in mind. Just a couple of follow up questions based on your code above:

1) Each point/pixel contains the point cloud values with Z value as the first index followed by X and Y, right? Instead of it being in X, Y and Z order like in my code? Just making sure it

[2021-11-18 15:02] mehranq commented on #331
@inbangsa sure. Closing it now.

[2021-11-18 15:02] #331 closed

[2021-11-19 09:01] inbangsa commented on #333
@mehranq
1) There are some legacy frame conversion due to which  Z,X,Y at index 0,1,2 respectively, There is already a work in progress which will provide compile time switch to disable these conversion and XYZ will be available at 0,1,2 index. I inform here when we release this change .
2) yes they determine the resolution of height and width values of camera head for 3D ports. for 2D port we pro

[2021-11-24 09:14] Johnlan197 commented on #321
@graugans what's the defination of coordinate system of camera? ,specifically,where are the direction of X,Y,Z axis? i cannot find any technical reports in @GreNait or @lola-masson.

[2021-11-24 09:35] ifm-csr commented on #321
Hi @Johnlan197 ,

In principle, our systems use Z for the distance, X for the left/right and Y for up/down. However, the ifm3d is using (I think) the robotic approach. meaning that X is the distance. Does that make sense?

All coordinates are in reference to the camera center. Which is depending on the camera. For the O3D it is at the middle of the lens at the height of the orange sealing. You can

[2021-11-24 09:43] GreNait commented on #321
Hi @Johnlan197 ,

In principle, our systems use Z for the distance, X for the left/right and Y for up/down. However, the ifm3d is using (I think) the robotic approach. meaning that X is the distance.

All coordinates are in reference to the camera center. Which is depending on the camera. For the O3D it is at the middle of the lens at the height of the orange sealing. You can of course provide an

[2021-12-03 20:41] mehranq opened #334 "Error when trying to use device discovery (O3R camera)"
Hi. A couple of things I want to raise/ask.

**1)** I am trying to using the DeviceDiscovery function from the camera base class to find the O3R cameras connected to my VPU. I am getting the following exception when trying to do so. When I check the console it has the line, **"An invalid argument was supplied"** printed. I have tried running it directly using the ifm3d command line tool using _"if

[2021-12-06 08:25] graugans commented on #334
Hey @mehranq , the LEDs are supported in the next firmware release series 0.14.x which we currently do internal testing with.

[2021-12-06 11:32] inbangsa commented on #334
@mehranq on discovery:  I have tried to reproduce the issue but was not able to reproduce it on windows nor on Linux. can you provide more information on which windows and Visual studio version you are using and would also want to know the build type of ifm3d (Release/Debug)

ifm3d discover uses udp communication for discovery of devices in subnet. Are udp packets allowed on your PC and not blocke

[2021-12-06 16:26] mehranq commented on #334
@graugans Thank you for the info.

@inbangsa Here is the info you requested:

**Windows version:**
![windows version](https://user-images.githubusercontent.com/25999707/144882521-07e0c0bc-eb93-4400-b787-036e047e58f0.png)

**Visual Stuido version:**
![vs version](https://user-images.githubusercontent.com/25999707/144882608-6376c52b-36d3-40cb-a464-f2eebc74d676.png)

I checked the firewall settings a

[2021-12-07 19:31] #333 closed

[2021-12-07 19:43] mehranq opened #335 "How to determine whether an actual camera (O3R) is connected to the VPU"
Hi. I am trying to use the following code to determine whether a camera is connected to the VPU or not. I am using an O3R camera:

[code]

Using the above code I first turned on the VPU **without** having my O3R camera's 2D or 3D cable connected to the ports on the VPU. I ran the above code and the `cam_unknown->DeviceType(false);` returns the value "1:768" as a string store in `dev_fam`. I then t

[2021-12-07 20:53] lola-masson commented on #335
Hi @mehranq, the DeviceType function is more for internal uses. We recommend using either the `WhoAmI` or the `AmI` functions like so:
[code]

[2021-12-07 21:37] mehranq commented on #335
Hi @lola-masson
I did try using `WhoAmI` but had the same issue where it always returns device family as O3R regardless of whether I have any camera heads connected to the VPU or not.

"Note that we refer to the O3R as the whole platform (VPU + _heads)."_
Based on the above line it makes sense then that `WhoAmI` always returns O3R regardless of whether I have any camera heads connected to the VPU

[2021-12-08 06:56] graugans commented on #335
Hey @mehranq,

This is intended, as the O3R consists of the OVP8xx and the connected heads, the Ethernet connection belongs to the OVP8xx which is also called the VPU this is what has the device type `1:768`

It will only list connected ports. There notion of a port does not necessarily be a camera, it can also be the IMU or any future sensing device.  So one at least may also want to check for th

[2021-12-08 14:20] mehranq commented on #335
Hi @graugans

Thank you for the clarification. Based on this, I will check the list of connected ports returned by `cam->Get()` and then filter it further based on "type". Thank you.

[2021-12-08 18:26] zwenjiang opened #337 "ifm3d\xmlrpc-c\lib\curl_transport\curltransaction.c(19,10): fatal error C1083: Unable to open include file: “curl/curl.h”: No such file or directory"
Hi,
   When I follow the steps by Doc /windows.md#running-ifm3d-tool-on-windows , I got an error compiling xmlrpc-c using VS2019, Prompt not found ifm3d\xmlrpc-c\lib\curl_transport\curltransaction.c(19,10): fatal error C1083: Unable to open include file: “curl/curl.h”: No such file or directory. What should I do about it? tks

[2021-12-09 04:19] inbangsa commented on #337
@zwenjiang it seems curl installation is missing on the system. from the information provided I understand that you are trying to build ifm3d from source with these [instruction](https://github.com/ifm/ifm3d/blob/master/doc/windows.md#source-dependencies).
To build and install curl please follow this [instruction](https://github.com/ifm/ifm3d/blob/master/doc/windows.md#curl). and after this you sh

[2021-12-09 08:34] zwenjiang commented on #337
thanks for your replyment. I can compile it now.

[2021-12-09 09:14] #337 closed

[2021-12-09 09:43] zwenjiang opened #338 "ifm3d complie error about setting CMAKE_CXX_FLAGS"
Hi, when I compile IFM3D with VS2019, I got the following compilation errors:

F:\VPN\FeiruiRobots\myVision\trunk\IFM\ifm3d\ifm3d\build\modules\camera\src\libifm3d_camera\Release\ifm3d_camera.dll
  Building Custom Rule F:/VPN/FeiruiRobots/myVision/trunk/IFM/ifm3d/ifm3d/modules/framegrabber/src/libifm3d_framegrabber/CMakeLists.txt
cl : 命令行 warning D9002: 忽略未知选项“-std=c++14” [F:\VPN\FeiruiRobots\myVi

[2021-12-09 09:51] inbangsa commented on #338
@zwenjiang May I know which version/branch/tag of ifm3d you are trying to compile with VS2019 ?

[2021-12-09 09:59] inbangsa commented on #338
Similar [issue](https://github.com/ifm/ifm3d/issues/284)

This is fixed in version 0.20.0, so you can upgrade it or can try a fix as explained in #284.

[2021-12-09 10:03] zwenjiang commented on #338
Releases v0.18.0

[2021-12-09 10:03] zwenjiang commented on #338
Releases v0.18.0

[2021-12-09 10:04] zwenjiang commented on #338
thank you, i try it

[2021-12-10 06:32] #338 closed

[2021-12-10 06:33] zwenjiang commented on #338
it's ok

[2021-12-13 15:26] #335 closed

[2021-12-14 07:36] inbangsa opened #339 "ifm3d::Image overlapping value for 3 channel Image in ptr<T>(row,col) function"
**Describe the bug**

Following code produce an overlapping values, for 3 channel xyz image.

[code]
output
(0.538664,-1.32642,1.66867)

(-1.32642,1.6694,0.538664)

(1.6694,0.522013,-1.32642)

(0.522013,-1.32461,1.6694)

(-1.32461,1.66976,0.522013)

(1.66976,0.505327,-1.32461)

[2021-12-20 12:11] SLAMDUNK4ROT commented on #327
兄弟，ifm o3d 你是怎么标定出内参的，我采出来数据集得到的Amplitude_Image，但质量并不高，棋盘格的内交点很多都不是真实的。 我看你求出来了，请问下你是用什么方法，谢谢

[2021-12-20 12:34] graugans commented on #327
Hey @SLAMDUNK4ROT, I ran your comment through Google translate.

There is no calibration needed for the device. They are calibrated during production. Please check the two examples for more details:

- [image_rectification](https://github.com/ifm/ifm3d-examples/tree/master/image_rectification/python)
- [intrinsics_to_cartesian](https://github.com/ifm/ifm3d-examples/tree/master/intrinsics_to_cartes

[2021-12-20 13:00] SLAMDUNK4ROT commented on #327
Dear Christian
Thanks your promptly relpy, the reason I wanna get the internal params is that I use both RGB camera and tof for asscociation to get 2d image information and depth data as same as rgb-d camera. So in order to precision, I have to calculate the' T 'matrix (R t) between RGB and TOF by the internal params of TOF( the internal params of RGB I have got). Could you help me to get the inte

[2021-12-20 13:57] SLAMDUNK4ROT commented on #327
Dear Christian
Thanks, btw du u know how to get the Grarscale_image?  I have found this Mat in ifmo3d_driver.cpp, is it right?
Many thanks

[2021-12-20 14:09] graugans commented on #327
Hey @SLAMDUNK4ROT it depends what you refer to when talking about Grayscale image. If you consider the Amplitude image to be the grayscale image than you can query it with [IMG_AMP](https://github.com/ifm/ifm3d/blob/master/doc/schema.md) this contains the information about the reflectivity of your scene based on the active light source we do use in our TOF cameras. When you are interested in a gra

[2021-12-20 14:18] SLAMDUNK4ROT commented on #327
Dear Christian
Yeah, that's what I want that the Grayscale Image instead of Amplitude Image as input data for caliberation. I will try to call it in cpp later and many thanks for your help.

Marry Christmas
SD4R

[2021-12-20 15:13] mehranq opened #340 "Is there a UI available to configure O3R camera parameters? What is the maximum resolution supported for M03969?"
Hi. I was wondering if there is a UI  available (like a web interface) to configure all of the available O3R camera parameters such as modes, filters, resolution, fov etc. or is it the case that O3R camera parameters can only be configured via json manipulation using the Get() and Set() commands in the library?

For the M03969, Is 224x172 the maximum resolution that is supported in 3D?

[2021-12-20 15:33] graugans commented on #340
Hey @mehranq we are working on a support for the O3R in the ifm Vision Assistant. Please get in touch with  [ifm support](mailto:support.robotics@ifm.com) it is maybe possible to get a preview of the Vision Assistant.

[2021-12-20 16:02] graugans commented on #340
Oh sorry I missed the question about the resolution. Yes the maximum resolution is 224x172. We have planned more heads with higher resolution. Please get in touch with the ifm sales team for more information when those will be available.

[2021-12-20 16:20] mehranq commented on #340
Thank you for your answer. About the support for the O3R in the ifm Vision Assistant, any estimate on when it will be officially available?

[2021-12-21 07:07] SLAMDUNK4ROT commented on #327
Dear Christian
I have used the code you recommended from https://github.com/ifm/ifm3d/blob/master/doc/schema.md , but it was no value in " img -> GrayImage()". I have set the function
**auto fg = std::make_shared<ifm3d::FrameGrabber>(cam,ifm3d::IMG_RDIS|ifm3d::IMG_AMP|ifm3d::IMG_GRAY);**
Even , **auto fg = std::make_shared<ifm3d::FrameGrabber>(cam,mask);** I set "mask =67(1+2+64)", but it was stil

[2021-12-21 13:01] machineboy2018 opened #341 "can it work in macos"
I compile the code in my macbook with m1 silicon successfully.But when I run the demo, it throw the error:
`libc++abi.dylib: terminating with uncaught exception of type ifm3d::error_t: Lib: Image chunk not found `
I want to know can it work in macos or I should do some other work to make it.

[2021-12-21 13:44] inbangsa commented on #341
@machineboy2018 we  offically donot support macos.
but from error it seems there is mismatch between device and demo. can you please specify which demo you are trying to run and the device you are working with.

[2021-12-21 13:52] inbangsa commented on #334
@mehranq there is no change in this feature from last couple of months.

we are not able to reproduce this issue, and all tests are working fine on windows and linux machine. we are in developement of windows installer for ifm3d which will provide binary version and we would like you to test this feature with that.

[2021-12-21 14:00] inbangsa commented on #340
@mehranq  as @graugans mention please reached out to ```support.robotics@ifm.com```  for the official release of O3R support in ifm Vision Assistant and they might  also help to get the  preview version of the same.

[2021-12-21 14:15] mehranq commented on #340
Will do that. Thank you.

[2021-12-21 14:15] #340 closed

[2021-12-21 14:26] machineboy2018 commented on #341
My device is O3D303.this is my code:
`int main(){
   auto _cam = ifm3d::Camera::MakeShared("192.168.0.69", 80, "");
   auto  _fg = std::make_shared<ifm3d::FrameGrabber>(_cam);
   auto _im = std::make_shared<ifm3d::ImageBuffer>();
    // Create pcic interface and initialize configuration
    ifm3d::PCICClient::Ptr pcic = std::make_shared<ifm3d::PCICClient>(_cam);
    while(1){
        if (!_fg->Wai

[2022-01-03 14:10] lola-masson commented on #341
Port 80 is the default XML_RPC port, which could explain your bug. Try switching it to something that your are allowed to use on macos.

Supporting macos is not on top of the priority list for us right now, but we will definitely announce it when it happens.

[2022-01-03 14:20] lola-masson commented on #327
@SLAMDUNK4ROT as @graugans mentioned, grayscale image is not currently supported.

[2022-01-04 15:13] #327 closed

[2022-01-04 15:13] #271 closed

[2022-01-04 15:14] #278 closed

[2022-01-04 15:14] #276 closed

[2022-01-04 19:27] rpangrazio opened #342 "STOI Error"
I am getting an error with all commands of the system, including the ROS node. Every command I run gets a message of ifm3d error: stoi. The ROS node dies with a similar error. I have built from source for the tools, and I have installed precompiled versions. I am running on a Ubuntu 20.04 system.

[2022-01-04 19:53] rpangrazio commented on #342
Tried the 20.04 and 16.04 containers and same problem.

[2022-01-10 08:24] graugans commented on #342
Hey @rpangrazio, can you please describe the error in more details? As @tuxx0rz pointed out, can you also please share the device you are using O3D/O3X or O3R and the version of ifm3d you are using. In case you are running ROS please create an issue on the ROS driver.

[2022-01-10 10:23] graugans commented on #341
Hey @machineboy2018

I guess MacOS does not forbid to use a service which runs on port 80. Otherwise you would not be able to browse any http website on your MacOS device. On unix systems a regular user is typically not allowed to start a service which binds to a port below 1024, in case of ifm3d the XML-RPC service which binds to port 80 runs on the camera and your computer connects to this servi

[2022-01-10 15:28] rpangrazio commented on #342
Its an O3R.

So I rebuilt the 2004 container using main-next branch. No change. If I run any command of the ifm3d application that requires communication to the device it fails, e.g "ifm3d dump" or "ifm3d dump -ip 192.168.0.69".

I can ping the sensor.

Please note that I am not using the ROS driver right now. I only mentioned it because I tried it. I am no longer trying to bring up the ROS system

[2022-01-10 15:38] graugans commented on #342
Can you please post the complete error message? Or is the error message simply

[code]

[2022-01-10 15:43] rpangrazio commented on #342
ifm3d error: stoi

[2022-01-10 16:56] graugans commented on #342
That's strange, can you please check if `ifm3d` without any command does output the version?

[code]

If this also throws an error, what is the output of:
[code]

Can you also please provide an link to the Dockerfile you have used to build the Container?

[2022-01-10 18:44] rpangrazio commented on #342
[code]

[2022-01-10 19:17] lola-masson commented on #342
[code]
This version is not the one needed to interact with the O3R. After building from source from the branch o3r/main-next you should end up with something like 0.90+. I suspect something went wrong when you installed both from apt and from source.
We have a docker container ready to use that you can directly pull, which should contain the most recent version of ifm3d and get you on your way:
ht

[2022-01-10 19:22] rpangrazio commented on #342
I am using the docker container.

[2022-01-10 19:57] lola-masson commented on #342
When I run that docker container, I get ifm3d version 0.92:
[code]

Did you pull that container recently?

[2022-01-10 20:20] rpangrazio commented on #342
I built the container today, but I am refollowing all the directions without regard to what I did before. Essentially starting from scratch, because I have a sinking suspicion I messed something up.

[2022-01-10 20:25] rpangrazio commented on #342
Pulled it from the repo instead of building locally worked. Thank you very much for the help.

[2022-01-10 20:28] lola-masson commented on #342
No worries at all :) Can you tell us which dockerfile you used to build before? There might be an error in the instructions there that I could correct.

[2022-01-10 21:56] rpangrazio commented on #342
All of the docker files in the repo under the docker folder. Tried them all. Used the python script to build them.

[2022-01-11 07:08] BigBoot commented on #342
Just for reference, the Dockerfiles for the o3r version are located in the docker/ifm-robotics folder, the others are all building the master version. So the one used for building the current version container would be this: https://github.com/ifm/ifm3d/blob/o3r/main-next/docker/ifm-robotics/docker/Dockerfile

[2022-01-12 20:25] akaddoura opened #343 "Unify indexes starting at 0 or 1 in the json dump"
Minor pet peeve but I noticed the indexes in the json dump are not unified. The camera resolution index starts at 0 while the Active App and Trigger Mode indexes start at 1.

This is for an O3D311 camera running ifm3d 0.20.0.

[2022-01-13 20:31] mehranq opened #344 "Is the resolution on the O3R camera fixed?"
Hi. Following is the configuration of an O3R camera with its 3D wire connected to port2 on the VPU. I see the resolution is set to 172x224. I understand that this is the maximum resolution for the camera. My question is, can we change the resolution to a lower setting? Or is it fixed to the max resolution and thus unchangeable through json manipulation?

`"port2": {
            "acquisition": {

[2022-01-13 20:48] lola-masson commented on #344
The resolution is fixed, as of right now we do not provides utilities for lowering the resolution.

[2022-01-13 20:51] mehranq commented on #344
Thank you for the clarification.

[2022-01-13 20:51] #344 closed

[2022-01-14 05:51] graugans commented on #344
Hey @mehranq , you can run a docker container on the VPu and downsample dat data on the VPU for your application.

[2022-01-17 09:05] graugans commented on #343
Hey @akaddoura , thanks for pointing this out. The app index zero is used internally and this is the reason why there is no index of `0`. The trigger mode is handled this way for backward compatibility. The rest of the indices are starting as usual with the index `0`.

[2022-01-17 09:05] #343 closed

[2022-01-27 11:05] niallomahony93 opened #345 "Trouble using ifmO3r logger code"
Hi,

I am following the tutorial on https://ifm3d.com/logging2.html using the ifm03r pip module.

This is the code;
[code]
When I use the logger module I get this error:

[code]

It is like the camera is returning an array twice the size the logger is expecting. (77056 = 172*224*2) This is my camera config;

[code]

[2022-01-27 11:49] desengph commented on #345
Hi @niallomahony93

The software code which you're referring to is “legacy code”. The Python package ifmo3r is unfortunately no longer supported.

Since the latest firmware releases the interface has changed, the effect is what you're seeing here. Part of this change has been the definition of the confidence image, which is now 16bit per pixel value instead of 8 bit.

We would like to suggest that

[2022-02-04 11:57] robinbansal08 opened #346 "Read-only file system error"
We are running our application over IFM O3D303 sensors, the application along with other processes also tries to renames local files. But sometimes we are facing error:  can't rename: Read-only file system. This issue is resolved after sensor reboot. Can you provide any suggestion about why this happening.

[2022-02-07 09:44] UserFLO opened #347 "Cannot Capture with O3R"
Hi ! I am using ifm VPU and O3R camera. I wrote a simple algorithm.

from ifm3dpy import O3RCamera, ImageBuffer, FrameGrabber

# Initialize the objects
[code]

When i turn on the VPU, the leds on port 0 and 2 don't turn on. Moreover, i cannot take a simple capture. The algorithm stops at :
[code]

Can you please help me ?

I also check the configuration and with :

``print(json.dumps(config,indent

[2022-02-07 10:34] graugans commented on #347
Hey @UserFLO , the heads are in config state by default. You have to change to `RUN` mode before any data can be received:

[code]
Given the above JSON fragment send to the O3R with `set` will enable the second camera.

[2022-02-07 19:33] lola-masson commented on #346
@robinbansal08 Could you give more information: firmware version? are you using ifm3d? what code are you trying to run that triggers the error? Is there anything else in the error message?

[2022-02-09 07:39] UserFLO commented on #347
Thanks @graugans ! I have an other question. I would like to recover a 2D image. So i am using this algorithm in Python(itook the port0 and pcic_port = 50010) :

_from ifm3dpy import O3RCamera, ImageBuffer, FrameGrabber

o3r = O3RCamera('192.168.0.69')
port='port0'
fg = FrameGrabber(o3r, pcic_port=50010)
im = ImageBuffer()

if fg.wait_for_frame(im, 500)==False:
    raise ValueError

jpeg = im.jpeg

[2022-02-09 08:09] graugans commented on #347
Hey @UserFLO can you please post the output of the dump here?

[2022-02-09 08:14] UserFLO commented on #347
![image](https://user-images.githubusercontent.com/86002458/153153222-9fd0663a-7635-4f44-a60d-e25abad3603a.png)

![image](https://user-images.githubusercontent.com/86002458/153153296-374892ac-6fb2-46d5-8c7d-06bd00afe114.png)

![image](https://user-images.githubusercontent.com/86002458/153153376-79a897bb-ff66-46ca-9db5-c3581615a5d5.png)

![image](https://user-images.githubusercontent.com/86002458/1

[2022-02-09 08:56] graugans commented on #347
Hey @UserFLO you also have to turn port0 into `RUN` mode:

[code]

[2022-02-09 09:11] UserFLO commented on #347
I turn port0 into RUN ! But i think there is a conversion problem with the function _.jpeg_image()_ , because i obtain an array (108431,1) for my image. Do you know why ?

[2022-02-09 09:24] graugans commented on #347
I am not sure what you do expect. The array is the jpeg image data itself. If you wanttoi use it for example in OpenCV you can use it like this:

[code]

Please see the simple [python image viewer](cv2.imdecode(buf.jpeg_image(), cv2.IMREAD_UNCHANGED)
) for more details

[2022-02-21 15:25] #346 closed

[2022-03-07 17:19] tuxx0rz opened #348 "O3R Cyclic Mode Unstable Pointcloud"
I am trying out the cyclic_4m_2m_4m_2m mode on the O3R camera and VPU. After switching to the cyclic mode from the previous standard_range2m and setting up my extrinsic and filter setting I noticed the pointcloud is "bouncing" along the Z axis (Y Axis before my extrinsic settings) by approximately 30mm. I checked my pointcloud under standard_range2m and the Z axis values are correct. When checking

[2022-03-08 06:53] maxwelllls opened #349 "How to limit the network transmission speed"
In our project, the OX100  camera is connected to the 100M switch. Due to the large network data flow at the moment camera sends the image, the network is congested and the packets of other devices are lost. Is there any way to limit the network transmission rate of the camera? Such as window-based or rate-based flow control.
Can you tell us where to config the Socket in the source code, we can tr

[2022-03-08 13:53] lola-masson commented on #348
Hi Michael.
It is possible that you are seeing a difference between the 2 and 4m in cyclic mode due to MPI (multi-path interference). The range being different for the two modes, the impact of this artifact (light bouncing against a wall or the floor for instance before reflecting off the object of interest) can be different.
Are you seeing this difference when switching between 2 and 4m modes, wi

[2022-03-08 15:51] tuxx0rz commented on #348
Yes I did notice a difference when switching between the 2m and 4m modes. To get the same x/y/z coords between the 2m and 4m mode I have to adjust the transY on port 1 by approximately 0.03 however the transY is the only extrinsic parameter that needs to be modified between the 2 modes.

[2022-03-08 15:55] lola-masson commented on #348
Could you send a recording of the scene you are looking at? If this needs to be shared privately you can email me at lola.masson@ifm.com. I can have a look at rosbags if you have that available, or a video recording can be a good start.
The MPI would most likely appear in a scene where there is a corner between a floor and a wall or a floor and an object, or something like that.

[2022-03-09 11:42] LarsBuck opened #350 "Problems when using lfm3dpy"
Hello,

so i was experiencing some issues when using the O3D300 Sensor with python ifm3dpy library.
My Setup:

Ubuntu 20.04 LTS
5.13.0-30-generic
Python 3.8.10
ifm3dpy 0.93.0
ifm3d 0.18.0
installed with snap
camera firmware 1.71.xx

The problem:

I was using the example code given on your docs [HERE](https://ifm3d.com/sphinx-doc/build/html/ifm3d/doc/sphinx/content/examples/basic_lib_usage/first_st

[2022-03-09 12:54] inbangsa commented on #350
Hello @LarsBuck ,

The document you referred is written for O3R device, For O3D/O3X  camera please refer to the [Usage Example](https://github.com/ifm/ifm3d/blob/master/doc/python.md#usage)

you mentioned in your issue that you have O3D sensor and not camera. if its sensor then you might need to create a default application on device and make it active to grab the data.

[2022-03-09 13:40] graugans commented on #350
Hey @LarsBuck please check those examples [example-creating-new-applications](https://github.com/ifm/ifm3d/blob/master/doc/cmdline.md#example-creating-new-applications)

[2022-03-09 14:09] LarsBuck commented on #350
Hi,

so i just took a look at the sensor devices via `$ ifm3d ls` and got the following output

 {
   "Active": true,
   "Description": "",
   "Id": 1571000710,
   "Index": 1,
   "Name": "Advanced application"
 }
]

So i guess there is an active application for my sensor. How exactly do I grab the data from the Sensor ? I ran the example code provided by @inbangsa which will return the amplitude i

[2022-03-09 15:22] inbangsa commented on #350
@LarsBuckcan you help me understand the fully black image, is it all the values in the numpy array are zero OR it might be the values are near to zero and that might cause image to appear black.

[2022-03-09 15:35] LarsBuck commented on #350
The amplitude image holds values out of range

[[1174 1091 1151 ... 591 611 629]
[1121 1058 1130 ... 755 718 750]
[ 965 974 1161 ... 990 968 989]
...
[ 626 638 754 ... 862 746 676]
[ 593 581 710 ... 818 715 668]
[ 845 785 766 ... 778 719 666]]

I also tried to normalize them into range of 0...255 but without success.

![opencv_imshow_ifm](https://user-images.githubusercontent.com/35806798/15747472

[2022-03-09 15:50] inbangsa commented on #350
@LarsBuck if I look closely I can see the box in Image. The issue here is not with ```ifm3dpy``` but its with display.

for amplitude image of O3D3XX each pixel is stored in ```uint16_t```

* for Display you can normalize image data with min max of the image.
OR
* Just to see data you can multiply the numpy array with a constant value so that overall brightness will increase.

[2022-03-09 16:02] inbangsa commented on #350
@LarsBuck [this issue](https://github.com/ifm/ifm3d/issues/307) looks very similar. Please refer to discussion for scaling and Display of the amplitude image

[2022-03-09 17:29] inbangsa commented on #350
@LarsBuck if problem is resolve can we close this issue.

[2022-03-09 17:35] #350 closed

[2022-03-11 15:28] LarsBuck opened #351 "How to achieve an image / Point Cloud similar to the ones displayed in the Vision assistant"
Hello,

after experimenting with the python library I am now able to get the distance image, but it does not look as similar as presented in the Vision assistant. What preprocessing is needed to achieve such an image. We are currently using Opencv applyColormap method for visualisation.

![ifm3do3d300_dep](https://user-images.githubusercontent.com/35806798/157894866-7e8b967c-697a-4570-a6e4-15becb7

[2022-03-14 17:31] lola-masson commented on #351
Hi Lars,

The point cloud can be retrieved with the [xyz_image()](https://ifm3d.com/sphinx-doc/build/html/api/ifm3dpy.ImageBuffer.html#ifm3dpy.ImageBuffer.xyz_image) function in python. You can have a look at [this example](https://github.com/ifm/ifm3d/tree/o3r/main-next/examples/o3r/viewer), which is a python viewer implemented using openCV and open3D.
What exactly are you trying to achieve with

[2022-03-22 10:10] GoodTekken opened #352 "Some issue about PDS"
1, PSD needs to send several counts of trigger commands until detecting the plastic pallet in the same environment.
The fail hints "status: -1036 (Not enough sides to construct pockets)"
![770c05cbd6ba91d4f9b633377abe6b4](https://user-images.githubusercontent.com/25917219/159457038-eaf12192-8a52-4446-a226-0b6bfa276d14.png)

The success hints "status: 0 (OK)"
elapsed_time: 1.33831512928
confidence:

[2022-03-22 14:38] GreNait commented on #352
Hey @GoodTekken,

PDS is a special software and has nothing to do with the ifm3d library. I will write you a PM with my work e-mail, so we can take this discussion off GitHub.

[2022-03-23 01:11] GoodTekken commented on #352
Okay, It's very nice of you to contact me.Thank you.

[2022-03-23 01:11] #352 closed

[2022-03-24 08:22] #351 closed

[2022-04-29 03:53] #348 closed

[2022-04-29 08:48] GoodTekken opened #353 "Problem with glog"
Hello， I have the same issue with [ERROR: something wrong with flag 'logtostderr' in file 'src/logging.cc'.  One possibility: file 'src/logging.cc' is being linked both statically and dynamically into this executable.](https://github.com/ifm/ifm3d/issues/40).

But  I cannot pass the compile even if follow the step.

  ifm3d: version=0.18.0
  uname -a
  Linux JT 5.13.0-40-generic #45~20.04.1-Ubuntu

[2022-05-02 12:01] UserFLO commented on #347
Hi @graugans i would like to know how i can save a PCL file with an O3R.
First, i tried to use the xyz_image function but that doesn't work.
Then, like i said i want to save my Point Cloud as PCL.
Do you know how i could do that ?

Thanks you

[2022-05-02 12:53] lola-masson commented on #353
Could you tell me how you installed ifm3d? Did you build from source or use apt?

[2022-05-02 14:06] GoodTekken commented on #353
Use apt below:

$ sudo apt-get update
$ sudo apt-get install ifm3d-camera \
                       ifm3d-framegrabber \
                       ifm3d-swupdater \
                       ifm3d-image \
                       ifm3d-opencv \
                       ifm3d-pcicclient \
                       ifm3d-tools \
                       ifm3d-python3 \
                       ifm3d-pcl-viewer \

[2022-05-02 14:24] graugans commented on #353
@GoodTekken ,are you using glog from the Ubuntu apt-repository or do you have a local installation from source or do you have glog included into your code base. There is an issue if you mix the versions of glog.

[2022-05-03 07:08] desengph commented on #347
Hello @UserFLO,
most of the image data is handled as Numpy arrays internally. This also applies to the point cloud data. Please see this link for how to receive a point cloud image: [ifm3d.com point cloud docu](http://ifm3d.com/sphinx-doc/build/html/documentation/O3R/ProductsDescription/ImagesDescription/imagesDescription.html#point-cloud-xyz).

Please see the attached example for how to convert a

[2022-05-03 07:14] GoodTekken commented on #353
Many Thanks. @lola-masson @graugans ,It can work now when I specify the library below.

`#glog
win32:CONFIG(release, debug|release): LIBS += -L$$PWD/../../../../lib/x86_64-linux-gnu/release/ -lglog
else:win32:CONFIG(debug, debug|release): LIBS += -L$$PWD/../../../../lib/x86_64-linux-gnu/debug/ -lglog
else:unix: LIBS += -L$$PWD/../../../../lib/x86_64-linux-gnu/ -lglog

INCLUDEPATH += $$PWD/../../..

[2022-05-03 07:53] UserFLO commented on #347
Thank you for your answer.
I'm not sure to use the right command line to get the point cloud. I tried with xyz_image but i think i'm doing something wrong : _im.xyz_image()_

[2022-05-03 08:34] desengph commented on #347
Hi @UserFLO,
the mentioned Python method `xyz_image()`is the correct one for getting the point cloud as a Numpy array.
See the details [here](http://ifm3d.com/sphinx-doc/build/html/api/ifm3dpy.ImageBuffer.html#ifm3dpy.ImageBuffer.xyz_image).

Please double-check the correct physical port - PCIC port mapping (i.e., check where a 3D imager is connected to in your JSON dump) and tat the respective im

[2022-05-03 08:39] UserFLO commented on #347
![image](https://user-images.githubusercontent.com/86002458/166425534-7a714d44-380e-4db2-8c4a-609147d651a0.png)

I have this algorithm. But it returns me an error message : _Unsupported ifm3d::image type_

[2022-05-03 13:04] lola-masson commented on #347
It looks like you are grabbing frames from the wrong imager type.

Which version of ifm3dpy are you using? Could you send the current json configuration (without changing any physical connection)?

[2022-05-03 13:10] UserFLO commented on #347
![image](https://user-images.githubusercontent.com/86002458/166458570-2ca6f7df-48b8-4bf0-a57d-5ffe35e15453.png)
![image](https://user-images.githubusercontent.com/86002458/166458636-ec7b4adc-21bf-4098-8288-a62eb1593a16.png)
![image](https://user-images.githubusercontent.com/86002458/166458686-291a2cb7-55fe-4f13-97eb-0ddda20f5468.png)
![image](https://user-images.githubusercontent.com/86002458/1664

[2022-05-03 13:39] graugans commented on #347
Hey @UserFLO for us the JSON text would make things much easier. We can search and import the text. The screenshot is not that easy to read. If wou put

&#96;&#96;&#96;json
{}
&#96;&#96;&#96;

[2022-05-03 13:57] UserFLO commented on #347
@graugans  i don't see where i can change the value. Or maybe i need to add these lines ?  If yes, where should I put them ?

[2022-05-03 14:28] UserFLO commented on #347
Like that ? Because nothing happens @graugans
![image](https://user-images.githubusercontent.com/86002458/166472638-cf0c13b9-3375-4516-9dd8-fe637e0800da.png)

[2022-05-04 05:39] UserFLO commented on #347
Sorry ! I didn't understand what you were saying ! @graugans

`''json
{
    "device": {
        "clock": {
            "currentTime": 1581090730974955840
        },
        "diagnostic": {
            "temperatures": [],
            "upTime": 86000000000
        },
        "info": {
            "device": "0301",
            "deviceTreeBinaryBlob": "tegra186-quill-p3310-1000-c03-00-base.dtb",

[2022-05-04 09:06] #353 closed

[2022-05-04 12:33] lola-masson commented on #347
@UserFLO thanks for the configuration. It all looks fine to me. Can you check what version of the python package `ifm3dpy` you are using?

[2022-05-04 12:41] UserFLO commented on #347
@lola-masson
[code]

[2022-05-04 13:48] lola-masson commented on #347
This all looks fine to me. It might be easier to troubleshoot live. Could you send an email at support.robotics@ifm.com and we will setup a short video call to go through this together.

[2022-05-11 05:52] GoodTekken opened #354 "Timeout waiting for camera"
Hello, sir.
         Today I found that the camera will take several seconds to get an image use the code under:

[code]

And I notice that when camera temperature is up to 50℃ will cause that to happen.
But It can work normally when the temperature is around 30℃.

(When Temperature 36.7℃，the elapsed_time:18435ms)

Do you have any advice?

[2022-05-11 06:41] GoodTekken commented on #354
When Temperature 36.7℃，the elapsed_time:18435ms

[2022-05-11 06:48] graugans commented on #354
Hey @GoodTekken , what type of camera are you using? I guess it is an O3D3xx am I right?
The general recommendation is to mount the camera in a way that there is a good heat dissipation provided.

[2022-05-11 07:05] GoodTekken commented on #354
Yes,sir. The camera is O3DP03.
And Ping is okay.
[code]
Now I switch the camera to string mode and use the order with"ifm",It hints "**Timeout waiting for camera!**" too.

[code]

[2022-05-11 07:09] GoodTekken commented on #354
The mount is same as preview. And the camera can run well a few days ago.
What can make the camera timeout? Or XMLRPC ?

[2022-05-11 07:12] graugans commented on #354
Okay, it looks like you are using the O3DP03 with the standard ROS node. Typically the O3DP03 comes with its own interface which configures the camera to software trigger. As in your example above one has to trigger the camera. As far as I know the standard ROS node expects the camera to be configured in continuous mode. This means it times out because no data is received because no one triggers t

[2022-05-11 07:18] GoodTekken commented on #354
Yes, I have set the camera in continuous mode, but still "TimeOut".

I want to get the point cloud from the camera and make a test for pallet detection.

[2022-05-11 07:19] GoodTekken commented on #354
How odd! I can get the data from the camera before. No mather triggered mode or continuous mode.

[2022-05-11 07:41] graugans commented on #354
Can you please grab the trace logs from the camera?

[code]

[2022-05-11 07:50] GoodTekken commented on #354
No , it cannot.

[code]

[2022-05-11 07:56] graugans commented on #354
Please try
[code]

There is a known bug in the libxmlrpc when it comes to larger chunks of data

[2022-05-11 08:13] GoodTekken commented on #354
[code]

[2022-05-11 09:00] graugans commented on #354
Sorry there was a typo:

[code]

[2022-05-11 09:06] GoodTekken commented on #354
$ ifm3d trace --limit=100
https://pastebin.com/H2ygapN6[$ ifm3d trace --limit=100](url)

[2022-05-11 09:44] graugans commented on #354
[code]
Indicates your power supply is not able to provide the specified current and voltages. Please check your power-supply

[2022-05-11 09:49] GoodTekken commented on #354
It can get the Image suddenly , the trace below:
[can get the image](https://pastebin.com/x1Q3fHTd)

[2022-05-11 11:17] graugans commented on #354
May I suggest to use a power-supply for testing, to get it out of the loop.

[2022-07-11 20:10] KtGunn opened #355 "Multiple failures on 'make check' (Ubuntu 20.04 build from source)"
I am building from source on Ubuntu 20.04. When running make check I get multiple failures:

[code]

Most of the error messages in the test of StlImageBuffer are:
C++ exception with description "Lib: The detected device is not supported by the library" thrown in the test body.

I am able to ping the OVP800 at 192.168.0.69, the default IP, although the message with the last failed StlImageBuffer te

[2022-07-12 04:32] graugans commented on #355
Hey @KtGunn,

maybe the firmware on your device is outdated. Can you please check this:

[code]
I do get a response like this:
[code]

[2022-07-13 13:37] lola-masson commented on #355
Hi @KtGunn. After double checking (no pun intended), the `make check` step is not fully functional for the O3R platform yet.
Please make sure you follow the build instructions [here](https://ifm3d.com/sphinx-doc/build/html/ifm3d/doc/sphinx/content/installation_instructions/source_build.html), using a tagged version (latest is [0.93.0](https://github.com/ifm/ifm3d/tree/v0.93.0)) from github.

Regar

[2022-07-14 14:52] j-friedl opened #356 "Which ifm3d-version goes with which version of the O3R firmware?"
It would be really great if you could provide a summary of the current O3R firmware version to ifm3d version compatibility. I've struggled to get the system running for quite a while now. The firmware currently running on my **OVP800** is **0.14.23-493**. Is there any stable and functioning version of ifm3d that works? The ones I tried (**0.20.***) all failed in multiple ways. I can ping the syste

[2022-07-14 15:16] lola-masson commented on #356
Hi @j-friedl,
You are right, we need to write a detailed compatibility matrix for all the different software and firmware packages. In the meantime, we recommend using tagged versions, the latest is [0.93.0](https://github.com/ifm/ifm3d/releases/tag/v0.93.0). Similarly, use the `stable` or `v0.93.0` docker container tag.
You have the latest firmware version, 14.23, so you're good on that side.

[2022-07-15 06:42] j-friedl commented on #356
Thanks for the fast response! As I'm not that familiar with CMake, how would the building process work if i use the compressed file? For me, if I unzip the folder, go into it, mkdir build and run "**cmake -DCMAKE_INSTALL_PREFIX=/usr ..**" I get following error message:

[2022-07-15 11:41] lola-masson commented on #356
Sorry about that, this is indeed a bug in the build process using the zip. We are working on it, but in the meantime a way around is:
- Comment the lines 38 to 96 (included) and line 111 in the ifm3d/cmake/modules/GetVersionFromGitTag.cmake
- Create a document with the line below and save it as /ifm3d/VERSION.
VERSION file:
[code]

[2022-07-22 14:21] vdorsi opened #357 "Build the ifm3d from source"
Hello all !

I am trying to to build the ifm3d library from source using the version 0.93.0
`git clone -b o3r/main-next https://github.com/ifm/ifm3d.git) `

and the following as described in the O3R developper guide :
[code]

In the documentation it is described the "camera" and "stlimage" modules will be builded by default. But in my case it is not, I have only the following packages : device, fr

[2022-07-25 07:39] vdorsi commented on #357
Hello again !

I have resolved the issue !
The issue was from the `git clone -b o3r/main-next https://github.com/ifm/ifm3d.git` command !
It is not cloning all the sources files...  I have downloaded manually the tar.gz archive from the repository and everything is working now...

[2022-07-25 08:37] graugans commented on #357
Hej @vdorsi thabnks for the input. We will check this and maybe update the documentation if required.

[2022-07-25 09:38] vdorsi commented on #357
Hi !
I am now trying to test the example application of getting a stream from the O3R camera.
The script if "ifm3d_ros2/camera_standalone" and I am getting the following error :

"Timeout waiting for camera" after starting the publishing loop.
![Capture](https://user-images.githubusercontent.com/109808843/180746962-2fa2fd38-1f04-4335-aa9b-551bdc3b846e.PNG)

Do you know what can be the source of th

[2022-07-25 12:15] desengph commented on #357
Hi @vdorsi
it seems to me that you're trying to get images from a camera head which is not in `RUN` state. Can you please double-check that the camera stream, which you're trying to use, is available?
This can either be done via the ifm Vision Assistant (as you have done before), via the dump and config methods, or the Soft-On Soft-Off helpers.

Additionally, can you please try to run the launch f

[2022-07-25 12:21] #357 closed

[2022-07-25 12:31] lola-masson commented on #357
Hi @vdorsi,

A precision for the build:
When you run `git clone -b o3r/main-next https://github.com/ifm/ifm3d.git`, it does **not** automatically gets you to the source for version 0.93.0. You need to checkout the `v0.93.0` branch before you follow the build instructions. The branch `o3r/main-next` contains the latest changes for the library and is a work in progress. We do not recommend building

[2022-07-25 12:36] vdorsi commented on #357
Hi @lola-masson ,

Thank you for your answer.
The current version of the ifm3d is 0.93.0+114.a83ee75
And the location is /usr/bin/ifm3d
![Capture](https://user-images.githubusercontent.com/109808843/180778792-e7cfcf11-7e49-400a-b4ce-258b64d8ca47.PNG)

[2022-07-29 08:28] j-friedl opened #359 "How would one receive a RGB image?"
Hello again,
I was trying out some python samples (like [these](https://ifm3d.com/sphinx-doc/build/html/ifm3d/doc/sphinx/content/examples/o3r/getting_data/getting_data.html)) and came to a problem when trying to get RGB images out of my O3R Vision System. Following code was executed:

[code]
However, wait_for_frame returns false and I get the risen ValueError:

It does work with port 50012 and im.

[2022-07-29 08:31] j-friedl commented on #359
The output of ifm3d dump:

[2022-07-29 08:36] j-friedl commented on #345
@desengph wrote:

However, there's no page ;)

[2022-07-29 10:43] desengph commented on #359
@j-friedl can you please double-check that you can get any 2D RGB Images on `port0` via the ifm Vision Assistant.
The ifm Vision Assistant can be downloaded [here](https://www.ifm.com/de/en/shared/technologies/o3d/downloads). This version is compatible with the O3R in a development stage.

If you can get data here, we need to look into this in a deeper level.
Alternatively, a  power-cycle might so

[2022-07-29 12:10] lola-masson commented on #359
Additionnally, there is a known issue in firmware 14.23 (which is the latest release) where you need to switch the rgb cameras to CONF and then back to RUN for them to stream data. Try that and see if that helps.

[2022-07-29 12:12] lola-masson commented on #345
I am guessing this document has moved since the comment you mentioned. All the documentation is on [this](https://ifm3d.com/sphinx-doc/build/html/index.html) website.

[2022-08-01 06:39] j-friedl commented on #359
It kinda works when changing from CONF to RUN, but the image I receive is now 125067 by 1 in size (changing slightly every time I rerun). How is the image encoded and/or how can I convert it?

[2022-08-01 08:56] nikhilnagaraj opened #361 "Image retrieval error - Python library"
Hi,

I am following the tutorial [here](https://ifm3d.com/sphinx-doc/build/html/ifm3d/doc/sphinx/content/examples/o3r/getting_data/getting_data.html) and I am having trouble retrieving the image.

I encounter this error:
![image](https://user-images.githubusercontent.com/15651160/182112157-e22b5cf2-f213-45cc-a0cf-beb1972f642e.png)

I am able to connect to the VPU (data packets are received when us

[2022-08-01 09:16] j-friedl commented on #361
Are you using the exact demo code? Also, could you share `ifm3d dump`?

[2022-08-01 09:32] nikhilnagaraj commented on #361
Yes, the exact demo code.

[code]

[2022-08-01 09:38] nikhilnagaraj commented on #361
Yes, the exact demo code. Here's the dump:

[code]

[2022-08-01 11:23] inbangsa commented on #361
@nikhilnagaraj Can you please specify the Platform/OS you are using along with how you installed ifm3dpy and if possible Please share the sample code That's producing the error.

[2022-08-01 11:41] nikhilnagaraj commented on #361
@in

I am running it on WSL (Ubuntu). The sample code is

[code]

Installed the python library with `pip install ifm3dpy`.

[2022-08-01 11:43] j-friedl opened #362 "ifm3d::Image to cv::Mat conversion"
Hi!
I'm wondering if there's an example on how to convert the `ifm3d::Image` to an `cv::Mat`?
I want to be able to do something like this:

`cv::Mat m = im->DistanceImage();`

It would be really helpful if such conversions make it into the docs :) (also usage with PCL etc.)

[2022-08-01 11:51] inbangsa commented on #361
@nikhilnagaraj

 ```fg = FrameGrabber(o3r, pcic_port=50010)``` can you please change the port to 50012.

port0->50010-> 2D image
Port2 -> 50012 -> 3D image ( Distance, Amplitude, xyz)

[2022-08-01 11:54] nikhilnagaraj commented on #361
@inbangsa

Perfect! That works :) Should have spotted this myself.

Would recommend changing it in the docs and if possible making the error message more descriptive. If you can point me to the appropriate location, I can create a PR for the same.

[2022-08-01 12:40] inbangsa commented on #362
@j-friedl

 This  work in progress and should be part of the future release.

following code will be a good start point :

[code]

[2022-08-01 12:53] j-friedl commented on #362
Great it works thank you!

[2022-08-01 13:17] inbangsa commented on #359
@j-friedl The data you receive is jpeg encoded blob and not RGB image, you need to decode the blob and convert the blob to 3channel RGB image.

 with opencv you can try like this:

image = cv2.imdecode(im.jpeg_image(), cv2.cv::IMREAD_UNCHANGED)

[2022-08-01 13:59] j-friedl commented on #362
Yes, thanks!

[2022-08-01 14:16] #362 closed

[2022-08-01 14:21] j-friedl commented on #359
@inbangsa thanks for the suggestion, this led me on the right track. My solution is as follows:

[code]
Using following `CMakeLists.txt` file:

[code]
This issue can be closed now, thank you!

[2022-08-01 14:42] inbangsa commented on #359
@j-friedl  Happy to help,

just to make it short you can try
[code]
following link will have more inputs.

https://stackoverflow.com/questions/4271489/how-to-use-cvimdecode-if-the-contents-of-an-image-file-are-in-a-char-array

[2022-08-01 18:22] lola-masson commented on #361
Hi @nikhilnagaraj,
Happy to accept PRs, thanks for offering. The examples are implemented [here](https://github.com/ifm/ifm3d/tree/v0.93.0/examples/o3r) along with md doc.
Please keep in mind that the `o3r/main-next` branch is a work in progress and currently contains breaking changes to the API. I recommend pointing to the `v0.93.0` branch in your PR and we will integrate your changes to the next

[2022-08-02 05:43] j-friedl commented on #359
@inbangsa Thank you! Works like a charm. Although `CV_LOAD_IMAGE_UNCHANGED` must be changed to `cv::IMREAD_UNCHANGED` in newer versions. Like this:

[code]

[2022-08-02 09:33] piranda85k opened #364 "Build the ifm3d from source"
Hello,
I'm struggling to install the ROS 2 driver package, especially with the set-up of ifm3d.
I've got the same issues as https://github.com/ifm/ifm3d/issues/357#issue-1315071373.
But even when I download manually the zip code of the project, the errors appear.
I am working on Ubuntu 20.04.
Does anyone have a solution ?

Thank you for your support.

[2022-08-02 10:38] inbangsa commented on #364
@piranda85k

for working with  ifm3d-ros package you need to build the tagged version (0.93.0) of ifm3d.  current o3r/main-next branch is work in progress for  next major release of ifm3d.

Please use following instruction to build the ifm3d for Ros

[code]

[2022-08-02 13:14] piranda85k commented on #364
I've tried this several times with the stable compatible versions (0.93.0, 0.92.0, 0.91.0).
And I've got always the same issue :
![image](https://user-images.githubusercontent.com/110458185/182383005-a53e0099-df8b-4302-a84d-11604645093f.png)
Cannot generate a safe runtime search path for target ifm3d-image-tests
Cannot generate a safe runtime search path for target ifm3d-opencv-tests
Cannot genera

[2022-08-02 13:55] lola-masson commented on #364
Hi @piranda85k,
Note that in the latest updates of ifm3d-ros2, we actually removed the dependency to openCV and PCL. So you should be able to build ifm3d from the tagged ifm3d release with the usual cmake instructions:
[code]
Since you had issues with previous installations, I would also double check that there is no version conflicts. Check in /usr/lib/cmake: is there leftover files there from ot

[2022-08-03 08:10] piranda85k commented on #364
I've cleaned all my old files using the command below to locate them :
``` sudo find / | grep ifm3d\n  ```
And it worked.
Thanks for your help.

[2022-08-03 08:10] #364 closed

[2022-08-10 07:03] GoodTekken commented on #354
Thank you, sir. And sorry for the late reply.
when I use the power supply, It can work quite well.

[2022-08-10 07:03] #354 closed

[2022-08-20 16:54] niallomahony93 opened #366 "Trying to load docker container on O3R VPU and I get "no space left on device""
Hi ,  I am trying to deploy custom code to the O3R VPU (starting off with just the basics for now but the overall goal is to deploy some lightweight pytorch models for inference on the camera streams)

I followed the steps of this [tutorial](https://ifm3d.com/sphinx-doc/build/html/documentation/O3R/Docker/deployVPU.html?highlight=ssh)

I downloaded the docker image provided by ifm with `docker pul

[2022-08-22 07:14] desengph commented on #366
Hi @niallomahony93

There seem to be two problems here:
1. The Docker save to tar and scp copy to the VPU and an additional docker load on the VPU takes "double" the space of the container to unpack it. This is a known bug. [Please have a look at this description on how to avoid file size limitations on the VPU](http://ifm3d.com/sphinx-doc/build/html/documentation/O3R/Docker/deployVPU.html?highlig

[2022-08-22 14:32] niallomahony93 commented on #366
Thank you, I was able to deploy the container with the instructions provided and will be in contact re: firmware for CUDA deployment

[2022-08-22 14:32] #366 closed

[2022-09-26 07:16] plraimb opened #367 "ImportError: cannot import name 'O3RCamera' from 'ifm3dpy'"
Hello,
I have just started to work with O3D, using python.
And I have a problem when I want to do an import like 'from ifm3dpy import O3RCamera', I have the following error message "ImportError: cannot import name 'O3RCamera' from 'ifm3dpy'"

Have you ever encountered this type of problem? Do you have a solution or an idea where it could come from?

[2022-09-26 20:33] lola-masson commented on #367
Hi @plraimb,

Are you using the **O3D** or the **O3R**?
- If you are using the O3D, you should use ifm3d 0.20.x, as we the newest versions of ifm3d are not yet fully compatible with the O3D. With ifm3d 0.20.x, the python bindings need to be built from source or installed with the debs: https://github.com/ifm/ifm3d/releases/tag/v0.20.3
- If you are using the O3R, then you should follow the instruct

[2022-09-28 15:15] nikhilnagaraj opened #368 "Intermittent errors while using `wait_for_frame()`"
**Describe the bug**
I am using the O3R225 - OVP800 combination to capture RGB and Pointcloud data. Ideally, I would like to capture images at random points in time (based on external inputs). However,  the `wait_for_frame` function seems to be highly unreliable. Some of the errors that I have seen while invoking this function are:

* `importlib._bootstrap.Error: No such file or directory`
* `impo

[2022-09-29 20:14] lola-masson commented on #368
Hi @nikhilnagaraj,
I just tried your script and have not yet seen any of these errors you are listing. Do you have an idea of how long the script has to run before you see the issues?

The `wait_for_frame()` is not going to perform well in a `while True` loop but I would expect that with the `sleep()` you put in there it should be sufficient to not run into any delay.

Are you able to give us more

[2022-09-30 14:00] nikhilnagaraj commented on #368
Hi @lola-masson
It usually occurs within the first 20-25 calls. I suspected that it was a network issue, but the thrown errors made me think otherwise.

Regarding the network connection, I am using `eth0`  and the VPU is on the same network as I am (not connected directly). I am able to ping the VPU and receive frames semi-regularly, so I am unsure if this is an issue with the network. However, in

[2022-10-03 17:19] lola-masson commented on #368
It seems like this might be a bug on our end. The fact that you have to "restart" each imager by switching is CONF->RUN or standard_range2m->standard_range4m is strange, this should not happen and we are investigating. We will let you know as soon as we find the issue and provide a solution.

[2022-10-05 13:21] piranda85k opened #369 "Build from source, XMLRPC was not found"
Hello,
I'm trying to build from source the ifm3d package (0.20.3) on my Jetson tx2 to be able to receive the data of my O3D303 camera with a python script.
But I'm struggling to compile from source the package.

I have the following error message :

[code]

I've checked the issue https://github.com/ifm/ifm3d/issues/127#issue-393578395
But the library **libcurl4-gnutls-dev** is well installed on my

[2022-10-05 13:27] graugans commented on #369
Hej @piranda85k ,

Are you following the instructions here: https://github.com/ifm/ifm3d/blob/v0.20.3/doc/source_build.md ? What version of JetPack are you using?

[2022-10-05 15:09] piranda85k commented on #369
My bad, I had not seen this instructions

[2022-10-05 15:09] #369 closed

[2022-10-11 06:23] flyaudio commented on #321
is there a more intuitional picture showing the point cloud origin relative to camera shell

[2022-10-13 14:34] desengph commented on #368
@nikhilnagaraj can you please contact us via email at: support.robotics@ifm.com

We tried to reach you via your linked email address on your profile on GitHub, but the emails can't be delivered.

[2022-10-13 18:52] nikhilnagaraj commented on #368
Done! :)

[2022-10-22 03:39] #361 closed

[2022-10-22 03:39] #359 closed

[2022-10-22 03:39] #356 closed

[2022-10-22 03:39] #355 closed

[2022-10-22 03:39] #349 closed

[2022-10-22 03:39] #347 closed

[2022-10-22 03:39] #345 closed

[2022-10-22 03:39] #342 closed

[2022-10-23 03:55] #341 closed

[2022-10-23 03:55] #339 closed

[2022-10-23 03:55] #334 closed

[2022-10-23 03:55] #332 closed

[2022-10-23 03:55] #329 closed

[2022-10-24 04:16] #318 closed

[2022-10-27 03:27] #313 closed

[2022-11-01 05:19] coa06yl commented on #97
@graugans Hi graugans, I have this error msg when I catkin_make. It will be great if you can help me solve the issue. Many thanks!

![Screenshot from 2022-10-31 17-43-14](https://user-images.githubusercontent.com/7136290/199164258-1e72041c-2b96-4334-98ff-7ad73ca28fd9.png)

[2022-11-07 03:17] #312 closed

[2022-11-07 03:17] #306 closed

[2022-11-08 03:15] #305 closed

[2022-11-08 03:15] #303 closed

[2022-11-08 03:15] #300 closed

[2022-11-08 03:15] #288 closed

[2022-11-08 03:16] #287 closed

[2022-11-09 03:23] #286 closed

[2022-11-09 03:23] #285 closed

[2022-11-09 03:23] #284 closed

[2022-11-09 03:23] #283 closed

[2022-11-10 03:16] #281 closed

[2022-11-10 03:16] #280 closed

[2022-11-11 03:17] #367 closed

[2022-11-12 03:13] #275 closed

[2022-11-24 02:44] #274 closed

[2022-11-24 02:44] #269 closed

[2022-11-25 02:52] #268 closed

[2022-11-25 02:52] #260 closed

[2022-11-25 02:52] #257 closed

[2022-11-26 02:41] #256 closed

[2022-11-26 02:41] #251 closed

[2022-11-26 02:41] #248 closed

[2022-11-27 02:54] #247 closed

[2022-11-27 02:54] #246 closed

[2022-11-28 02:48] #368 closed

[2022-11-28 02:48] #245 closed

[2022-11-29 02:44] #242 closed

[2022-11-30 02:41] #232 closed